{
  "parser": "babel-eslint",
  "parserOptions": {
      "ecmaVersion": 8,
      "sourceType": "module"
    },
    "extends": [
      "leankit", 
      "leankit/es6",
      "leankit/react",
      "leankit/babel" 
    ],
    "globals": {
      "document": true,
      "window": true,
      "allowTemplateLiterals": true
    },
    "rules": {
      "class-methods-use-this": 0,
      "linebreak-style": 0,
      "no-console": [1, { "allow": ["log", "error"] }],
      "no-debugger": 1,
      "no-unused-vars": ["error", { "args": "none" }]
    },
    "env": {
      "node": true,
      "browser": false,
      "commonjs": false
    }
  }